h1{
   background-color:#031F31;
   color: white;
   font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 30px 
}
.temp{
   background-color:#031F31;
   color: white;
   font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 30px 
}

.fundo{
   background-color:  #031F31;
}

.obrigatorio{
   color: rgb(239, 5, 5);
   font-weight: bold;
}

label{
   font-weight: bold;
   
}
.DescricaoPlaceholder{

   font-weight: normal;
   color: rgb(182, 185, 187);
}

.prioridadetarefa{

   width: 500px;

}
.negrito{
      font-weight: bold;
}

.botaoMenu{

   margin-right: 10px;
}

.ajusteBotaoMenu{
   margin-left: 35%;

}

